<header class="main-header">
  <a href="/" class="logo">Online CV</a>
  <nav class="navbar navbar-static-top">
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <!--<img src="/resources/dist/img/user2-160x160.jpg" class="user-image" alt="User Image"/>-->
			<img ng-src="{{userImage}}" class="user-image" alt="User Image"/>
            <span class="hidden-xs">{{user.user_data.name}}{{' '}}{{user.user_data.lastname}}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="">
                <a id="logout" ng-click="fbLogOut()" class="btn btn-default btn-flat btn-header">{{'Logout'}}</a>
              </div>
              <div class="">
                <a id="delete-account btn-header" class="btn btn-default btn-flat btn-header" ng-click="openDeleteAccount()">Borrar Cuenta</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title"> {{ "Aviso" }}</h3>
        </div>
        <div class="modal-body">
            {{ "Está seguro que desea eliminar su cta?" }}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="RolUser.html">
        <div class="modal-header">
            <h3 class="modal-title"> {{ "Aviso" }}</h3>
        </div>
        <div class="modal-body">
            {{ "Está seguro que desea cambiar el rol de este usuario?" }}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
  </nav>
</header>