<div class="modal fade" id="register-login-modal">
  <div class="modal-dialog">
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <a href="#" class="active" id="login-form-link">Iniciar Sesion</a>
            </div>
            <div class="col-xs-6">
              <a href="#" id="register-form-link">Registrarme</a>
            </div>
          </div>
          <hr>
        </div>
        <div class="panel-body" id="registerValidator">
          <div class="row">
            <div class="col-lg-12">
              <form id="login-form" action="/users/login" method="post" style="display: block;">
                <div class="form-group login-input">
                  <input type="email" name="mail" id="mail" tabindex="1" class="form-control" placeholder="Correo Electronico" value="">
                </div>
                <div class="form-group login-input">
                  <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Contrase&ntilde;a">
                </div>
                <div class="form-group text-center">
                  <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                  <label for="remember"> Recordarme </label>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Iniciar sesion">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="text-center">
                        <a href="/" tabindex="5" class="forgot-password">Olvide mi Contrase&ntilde;a</a>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <form id="register-form" action="/users/signup" method="post" style="display: none;">
                <div class="form-group register-input">
                  <div class="help-block with-errors"></div>
                  <input type="text" name="name" id="name" tabindex="1" class="form-control" placeholder="Nombre" value="" data-error="Weird! Do you have a name, right?" required>
                </div>
                <div class="form-group register-input">
                  <div class="help-block with-errors"></div>
                  <input type="text" name="lastname" id="lastname" tabindex="2" class="form-control" placeholder="Apellidos" value="" data-error="Hey! you're the first person that I know without a last name." required>
                </div>
                <div class="form-group register-input">
                  <div class="help-block with-errors"></div>
                  <input type="email" name="email" id="email" tabindex="3" class="form-control" placeholder="Correo Electronico" value="" pattern="^^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$" data-error="Bruh, that email address is invalid" required>
                </div>
                <div class="form-group register-input">
                  <input type="password" name="password" id="password-" tabindex="4" class="form-control" placeholder="Contrase&ntilde;a" required>
                </div>
                <div class="form-group register-input">
                  <div class="help-block with-errors"></div>
                  <input type="password" name="confirm-password"
                  id="confirm-password" tabindex="5" class="form-control" data-match="#password-" data-match-error="Whoops, these don't match" placeholder="Confirmar Contrase&ntilde;a" required>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input type="submit" name="register-submit" id="register-submit" tabindex="6" class="form-control btn btn-register" value="Registrate ahora">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<!--script type="text/javascript">
$(document).ready(function() {
  $('#registerValidator').validator();

  $('#register-submit').on('click', function (e) {
      console.log('submitting');
    var email = $('#mail').val();
    var password = String($('#password-').val());
    var confirmPassword = String($('#confirm-password').val());
    if (password != confirmPassword) {
      return false;
    } else {
        console.log('submit');
        $('#login-form').submit();
    }
  });
});
</script -->
